#pixelContainer {
  width: 800px;
  height: 800px;
  display: grid;
  float: left;
  border: 1px solid black;
  grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
}
#toolContainer {
  display: grid;
  margin-left: 50px;
  grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
}
.singleDisplayContainer {
  float: left;
  margin: 50px;
  margin-bottom: 0px;
  height: max-content;
  width: 160px;
}
.displayText {
  word-wrap: break-word;
  overflow-y: scroll;
  width: 160px;
  height: 130px;
  font-size: 13px;
  font-weight: lighter;
}
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border: 1px solid black;
}

.displayCanvas {
  margin-bottom: 20px;
  width: 160px;
  height: 160px;
  display: grid;
  border: 1px solid black;
  grid-template-columns: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
  grid-template-rows: 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px 5px;
}
#colorselector {
  width: 100%;
  height: 100%;
  grid-row: 1 / 6;
  grid-column: 2 / 11;
}
#clearButton {
  width: 100%;
  height: 100%;
  grid-row: 1/11;
  grid-column: 12/ 22;
  cursor: pointer;
}
#appearLastSaved {
  grid-row: 1/8;
  grid-column: 16/22;
  cursor: pointer;
}
#saveButton {
  grid-row: 5/ 10;
  grid-column: 2 / 7;
  cursor: pointer;
}
#descripInput {
  grid-row: 21/24;
  grid-column: 2/16;
  resize: none;
}
#finalCreateBut {
  grid-row: 21/33;
  grid-column: 16 /22;
  cursor: pointer;
}
#eraserTool {
  grid-row: 7/ 20;
  grid-column: 2 / 11;
  cursor: pointer;
}

#mainTitle {
  text-align: center;
}
#artCreationContainer {
  height: 800px;
  padding-top: 56px;
  padding-left: 35px;
}
#galleryContainer {
  height: 881px;
  padding-top: 0px;
  padding-left: 48px;
}
#galleryContainer {
  overflow: auto;
}
#mainContainer {
  margin: auto;

  width: 1399px;
  height: 900px;
  border: 1px black solid;
  border-top: 0px;
}
.createSelectorSel {
  float: left;
  text-align: center;
  border-top: 1px solid black;

  width: 50%;
}
#uploaded {
  display: none;
}
#slectedImageDisplay {
  margin-left: 200px;
  width: 300px;
  height: 300px;
  margin: 0px;
  padding: 0px;
  display: none;
}
#convertImageButton {
  grid-row: 17/ 20;
  grid-column: 12/22;
  cursor: pointer;
}
#imageInput {
  grid-row: 12/ 14;
  grid-column: 12/19;
  cursor: pointer;
}
#imageInputLabel {
  padding-top: 40px;
  grid-row: 12/ 16;
  grid-column: 12/22;
  cursor: pointer;
  text-align: center;
  font-family: Arial;
  font-size: 13;
}
.createSelectorUnsel {
  text-align: center;
  float: left;
  cursor: pointer;
  border-top: 1px solid black;
  border-right: 1px solid black;
  margin-right: -1px;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  width: 50%;
}
.gallerySelectorSel {
  float: left;
  text-align: center;
  border-top: 1px solid black;

  width: 50%;
}
.gallerySelectorUnsel {
  text-align: center;
  float: left;
  cursor: pointer;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin-left: -1px;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  width: 50%;
}

#selectorContainer {
  width: 1400px;
  margin: auto;
}
.tools {
  border: 1px solid blaCK;
  background: WHITE;
}
#descripInput {
  font-size: 14px;
  width: 320px;
  height: 295px;
}
